{% extends 'new_base.html' %}
{% load i18n admin_tools_menu_tags %}

	{% block page %}
		{% block breadcrumbs %}
			<ul class="breadcrumbs">
				<li><a href="../">{% trans "Home" %}</a></li>
				<li>{% trans "Useful information" %}</li>
			</ul>
		{% endblock %}

		<h3 class="useful_information">{% trans "Useful information" %}</h3>
        {% for news_item in news %}
			<div class="main_block_information">
			{% if news_item.title  %}
				<div class="information_title">{{ news_item.title }}</div>
			{% endif %}
                <p class="news_text_main">
				    <a href="{% url "usefull_information_item" news_item.id %}">
					    {{ news_item.body|removetags:"img"|striptags|truncatechars:300 }}
				    </a>
                </p>
			</div>
		{% endfor %}
	{% endblock %}
