{% extends 'new_base.html' %}
{% load i18n admin_tools_menu_tags %}

	{% block page %}
		{% block breadcrumbs %}
			<ul class="breadcrumbs">
				<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
				<li>{% trans "Useful information" %}</li>
			</ul>
		{% endblock %}
		<article class="news">
			<h3>{% trans "Useful information" %}</h3>
			{% for news_item in news %}
				<div class="news-item {% cycle 'news1' 'news2' %}">
				{% if news_item.title  %}
					<div class="news_title">{{ news_item.title|upper }}</div>
				{% endif %}
					<p class="text_news">
						<a href="{% url "usefull_information_item" news_item.id %}">
							{{ news_item.body|safe|striptags|truncatechars:400 }}
						</a>
					</p>
				</div>
			{% endfor %}
		</article>

	{% endblock %}
