{% extends 'base.html' %}
{% load i18n admin_tools_menu_tags %}
	{% block head %}
		{{ block.super }}
		<script src="{{MEDIA_URL}}js/popup.js"></script>
	{% endblock %}

	{% block content %}
		{{ block.super }}
		{% block breadcrumbs %}
			<ul class="breadcrumbs">
				<li><a href="../">{% trans "Home" %}</a></li>
				<li>{% trans "Certificates" %}</li>
			</ul>
		{% endblock %}
		<div>
			<h3 class="useful_information">{% trans "Certificates" %}</h3>
			<ul class="sertif_portfolio">
				{% for i, certificate in certificates %}
					<li class="sertif" rel="{{ i|add:"1" }}" id="sertif_right">
						<img src="{{ MEDIA_URL }}{{ certificate.image }}" style="margin-right:3" alt="{{ certificate.description }}">
						<div class="sertif_descr" style="display:none">
							<p>{{ certificate.title }}</p>
							<p>{{ certificate.description }}</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
     <div id="wrap_frame2">
     <div id="frame2">
     <img src="{{ MEDIA_URL }}css/images/arrow_left_photo.png" alt="" id="left_arrow_sertif">
      <img src="{{ MEDIA_URL }}css/images/arrow_right_photo.png" alt="" id="right_arrow_sertif">
          <img src="" id="big_photo_img">
     </div> 
     <div class="description2">
     </div>
     <img src="{{ MEDIA_URL }}css/images/close.png" alt="" id="close">
     </div>
	{% endblock %}