{% extends 'base.html' %}
{% load i18n admin_tools_menu_tags %}
	{% block head %}
		{{ block.super }}
		<script src="{{MEDIA_URL}}js/popup.js"></script>
	{% endblock %}

	{% block content %}
		{{ block.super }}
		{% block breadcrumbs %}
			<ul class="breadcrumbs">
				<li><a href="../">{% trans "Home" %}</a></li>
				<li>{% trans "Certificates" %}</li>
			</ul>
		{% endblock %}
		<div>
			<h3 class="photo_title">{% trans "Certificates" %}</h3>
              <div id="photo_gallery">
               <ul class="portfolio">
				{% for i, certificate in certificates %}
				<li class="photo_img"  rel="{{ i|add:1 }}">
					<img src="{{ MEDIA_URL }}{{ certificate.image }}" style="width: 226px;height: 336px;padding: 3px;" alt="">
					<div class="photo_descr"  style="display:none">
                        <p>{{ certificate.title }}</p>
					    <p>{{ certificate.description }}</p>
					</div>
				</li>
				{% endfor %}
               </ul>
			</div>
		</div>
    <script>
        set_width_to_media_files();
    </script>
    <div id="overlay"></div>
		<div id="wrap_frame">
		<div id="frame">
		<img src="{{ MEDIA_URL }}css/images/arrow_left_photo.png" alt="" id="left_arrow">
		<img src="{{ MEDIA_URL }}css/images/arrow_right_photo.png" alt="" id="right_arrow">

		<img src="" id="big_photo_img">
		</div>
		<div class="description">
		</div>
		<img src="{{ MEDIA_URL }}css/images/close.png" alt="" id="close2">
	</div>
	{% endblock %}