{% extends 'base.html' %}
{% load i18n admin_tools_menu_tags %}
	{% block content %}
	{{ block.super }}
		<h3>УП “СИФУД-СЕРВИС”</h3>
		<p>Наша цель - наиболее полное и качественное удовлетворение запросов наших клиентов и на основе этого стабильная работа и процветание нашего бизнеса. Ради этого мы, при необходимости, работаем, не считаясь со временем, ранним утром и поздним вечером, в выходные и праздничные дни.</p> <br>
		<p><b>УП “Сифуд-сервис”</b> имеет выработанную стратегию развития и необходимые ресурсы для её реализации. Мы используем в своей работе самые передовые технологии и стандарты клиентского обслуживания. Крупнейшие отраслевые предприятия в промышленном, торговом и других секторах страны уже доверили нам свои грузы:</p> <br>
		<ul>
			<li>вид маркированого списка примерный,</li>
			<li>вид маркированого списка,</li>
			<li>вид маркированого списка пункт,</li>
			<li>вид маркированого списка.</li>
		</ul> <br>
		<p>Наша цель - наиболее полное и качественное удовлетворение запросов наших клиентов и на основе этого стабильная работа и процветание нашего бизнеса. Ради этого мы, при необходимости, работаем, не считаясь со временем, ранним утром и поздним вечером, в выходные и праздничные дни.</p><br>
		<p>УП “Сифуд-сервис” имеет выработанную стратегию развития и необходимые ресурсы для её реализации. Мы используем в своей работе самые передовые технологии и стандарты клиентского обслуживания. Крупнейшие отраслевые предприятия в промышленном, торговом и других секторах страны уже доверили нам свои грузы.</p>
		<div class="our_partners">
			<h3>{% trans "Our partners" %}</h3>
			<div id="carousel_logo">
				<ul id="carousel_slides">
					{% for partner in partners %}
						<div class="carousel_slides">
							<p>{{ partner.company_name }}</p>
							<img src="{{MEDIA_URL}}{{partner.logotype}}" alt="{{partner.company_name}}">
						</div>
					{% endfor %}
				</ul>
			</div>
			<img src="{{MEDIA_URL}}css/images/arrow_left.png" alt="" class="logo_left">
			<img src="{{MEDIA_URL}}css/images/arrow_right.png" alt="" class="logo_right">
		</div>  
{% endblock %}