{% extends 'base.html' %}
{% load i18n admin_tools_menu_tags %}
	{% block head %}
		{{ block.super }}
		<script src="{{ MEDIA_URL }}js/slider.js"></script>
	{% endblock %}
	
	{% block content %}
	{{ block.super }}
		{% if slides %}
		<div id="slider" class="slider">
			<img src="{{ MEDIA_URL }}{{ slides|first }}" alt="" id="img" style="display: inline;">
				<div class="arrows">
				<div class="left"><img src="{{ MEDIA_URL }}css/images/arrow_left.png" alt=""></div>
				<div class="right"><img src="{{ MEDIA_URL }}css/images/arrow_right.png" alt=""></div>
			</div>
			<div class="controls">
				{% for i, slide in slides.items %}
					{% if i == 0 %}
						<div id="{{ i }}_control" class="active_control"></div>
					{% else %}
						<div id="{{ i }}_control" class=""></div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endif %}
		<h3>{% trans 'UE "SEAFOOD SERVICE"' %} </h3>
		{{ main_page.body | safe}}
		<div class="our_partners">
			<h3>{% trans "Our partners" %}</h3>
			<div id="carousel_logo">
				<ul id="carousel_slides">
					{% for partner in partners %}
						<div class="carousel_slides">
							<p>{{ partner.company_name }}</p>
							<img src="{{MEDIA_URL}}{{partner.logotype}}" alt="{{partner.company_name}}">
						</div>
					{% endfor %}
				</ul>
			</div>
			<img src="{{MEDIA_URL}}css/images/arrow_left.png" alt="" class="logo_left">
			<img src="{{MEDIA_URL}}css/images/arrow_right.png" alt="" class="logo_right">
		</div>  
{% endblock %}